<div class="container">
    <div class="row">
        <ng-container *ngFor="let device of devices">
            <div class="card col-md-3">
                <img src="{{device.image}}" alt="">
                <h5 class="float">{{device.name}}</h5>
                <p class="float">{{device.specification}}</p>
                <p class="float">{{device.description}}</p>
                <p><strong>Price:</strong> ₹{{device.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(device)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>