<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav">
        <div class="d-flex">
            <div class="nav-item" style="margin-left: 20px; margin-right: 20px;">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </div>
            <div class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a>
            </div>
            <div class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
            </div>
        </div>

    </ul>
</nav>

<router-outlet></router-outlet>