<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav">
        <div class="d-flex">
            <div class="nav-item" style="margin-left: 20px; margin-right: 20px;">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </div>
            <div class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a>
            </div>
            <div class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
            </div>
            <button routerLink="/cart" class="btn btn-light" style="margin-left: 800px;">
              <i style="font-size: 20px;" class="fas fa-cart-plus mb-1"></i>
              <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>