<!-- <ul>
    <li>
        <a routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Nokia</a>
    </li>
    <li>
        <a routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Samsung</a>
    </li>
    <li>
        <a routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">iPhone</a>
    </li>
    <li>
        <a routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Xiaomi</a>
    </li>
</ul> -->

<!-- <div class="card">
    <div class="card-body">
        <a routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Nokia</a>
    </div>
</div> -->

<div class="d-grid gap-3">
    <div class="p-2 bg-light border" style="margin-top: 20px;"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Nokia</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Samsung</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">iPhone</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Xiaomi</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Oppo</a></div>
</div>


<router-outlet></router-outlet>