<div class="d-grid gap-3">
    <div class="p-2 bg-light border" style="margin-top: 20px;"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Nokia</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Samsung</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">iPhone</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Xiaomi</a></div>
    <div class="p-2 bg-light border"><a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page">Oppo</a></div>
</div>


<router-outlet></router-outlet>