<div class="card card-cover">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/09/02/03/26/iphone-5537230__480.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Smart Phones</h5>
        <p class="card-text">A smartphone is a cellular telephone with an integrated computer and other features not originally associated with telephones such as an operating system, web browsing, and the ability to run software applications.</p>
        <a class="nav-link" routerLink="/product/product-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary">Checkout</a>
    </div>
</div>


<router-outlet></router-outlet>